<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.rulayounis">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewAlarmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".ChooseAccountActivity" />
        <activity android:name=".RewriteActivity" />
        <activity android:name=".CameraGalleryActivity" />
        <activity android:name=".NewTaskActivity" />
        <activity android:name=".AddActivityActivity" />
        <activity android:name=".AllTasksActivity" />
        <activity android:name=".FireActivity" />
        <activity android:name=".AllAlarmsActivity" />
        <activity android:name=".SharedActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MemoryActivity" />

        <receiver android:name=".AlarmReceiver" />
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MyNewIntentService"
            android:exported="false" />
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>